*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

header{
    background-color: orange;
    min-height: 50px;
}

footer{
    background-color: black;
    min-height: 80px;
}
.container{
    
    width: 80%;
    margin: 0 auto;
    /* debug */
    background-color: blue;
}


/* main */

/* contenitore di centramento */
#container-main{
    margin: 20px auto;
}

/* parte dei prodotti */
.product-list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articolo{
    width: 32%;
    margin:20px 0;
    position: relative;
    /* debug */
    /* height: 500px; */
    /* background-color: brown; */
}

.vista{
    max-width: 100%;
    opacity: 1;
}

.vista:hover{
    opacity: 0;
}

.coperta{
    max-width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.coperta:hover{
    opacity: 1;
    width: 100%;
}