*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

header{
    position: sticky;
    top: 0;
    background-color: orange;
    min-height: 50px;
    z-index: 1000;
}

footer{
    background-color: black;
    min-height: 80px;
}
.container{
    
    width: 80%;
    margin: 0 auto;
    /* debug */
    /* background-color: blue; */
}


/* main */

/* contenitore di centramento */
#container-main{
    margin: 20px auto;
}

/* parte dei prodotti */
.product-list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articolo{
    width: 32%;
    margin:20px 0;
    position: relative;
    /* debug */
    /* height: 500px; */
    /* background-color: brown; */
}

.vista{
    max-width: 100%;
    opacity: 1;
}

.vista:hover{
    opacity: 0;
}

.coperta{
    max-width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.coperta:hover{
    opacity: 1;
    width: 100%;
}

/* informazioni del prodotto sotto l'articolo  */
.info-prodotto{
    margin-top: 5px;
}

.marca{
}

.name{
    font-size: 18px;
}

.price{
    color: red;
    font-weight: bold;
}

.old{
    color: black;
    text-decoration: line-through;
    font-weight: lighter;

}

/* immagini tra i preferiti */
.cuore{
    background-color: white;
    font-size: 35px;
    padding:0px 10px; 
    position: absolute;
    top: 2;
    right: 2;
    z-index: 50;
}

.nero{
    color: black;
    opacity:1;
}

.nero:hover{
    opacity: 0;
}

.rosso{
    color: red;
    opacity: 0;
}

.rosso:hover{
    opacity: 1;
}

/* etichette */

.etichette{
    position: absolute;
    top:80%;
    left: 0;
    z-index: 30;
}
.et{
    color: white;
    font-weight: bold;
    padding: 4px 7px;
    font-size: 15px;
}
.sconto{
    background-color: red;
}

.sostenibilita{
    background-color: green;
    fon
}